body{
	background-color: #40845D;
}
@media
#wrapper{
	width: 90%;
	margin: auto;
}
/* comments in CSS */
.header{
	padding: 20px;
	background-color: #E54624;
}
/*centered header text*/
h1{
	text-align: center;
}

.sidebar{
	float: left;
	width: 20%;
	background-color: #40BF77;
	height: 1000px;
}

.main{
	float: right;
	width: 80%;
	background-image: url("images/background1.jpg");
	height: 1000px;
	background-position: left top;
}

img{
	float: top;
	margin: 10px;
	height: 300px;
	width: 400px;
}

@media screen and (max-width: 980px) {
#wrapper {
width: 95%;
margin: auto;
}
.main {
width: 70%;
}
.sidebar {
width: 30%;
}
}

@media screen and (max-width: 700px) {
.main {
width: auto;
float: none;
}

.sidebar {
width: auto;
float: none;
height: 100px;
}

.sml{
width: 150px;
height: 150px;
}
}